<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Camberry Project </title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/buykit.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container ProductImage">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.php">CamBerry</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="index.php" method="POST" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" name="Email"  class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name= "password"  class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
        <h2>Compra tu Kit Camberry</h2>
        <p>El sistema de seguridad para tu hogar y tu empresa más simple de instalar, más facil de obtener y con el mejor servicio de atención del momento. El mejor servicio de vigilancia al mejor precio.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
            <h2><b>Pack Camberry</b></h2><br>
                <h3> <p align="justify">Pack Camberry incluye todo lo que necesitas para poder disfrutar del mejor servicio de atención de vigilancia al mejor precio. Un sistema económico, simple, usable y eficaz.</p>
            <p align="justify">Pack Camberry incluye una <b>Raspberry Pi</b> con una cámara web incorporada para que puedas monitorizar y vigilar de la forma <b>más sencilla</b> posible. Ambos elementos vienen debídamente configurados para poder funcionar con sólo instalar.</p><br>
          <p><ol>
              <li><b>Raspberry Pi</b></li><br>
              <ul>
                  <li>Sistema Operativo: Raspbian Wheezy</li>
                  <li>DNS dinámico DuckDNS</li>
                  <li>SSH configurado</li>
                  <li>Iptables configurado</li>
              </ul><br><br>
              <li><b>PS3 EyeToy</b></li><br>
              <ul>
                  <li>Plug & Play</li>
              </ul>
      </ol></h3></p>
      <br><br><br>
      <p><a class="btn btn-primary btn-lg" href="#" disabled="disabled">Comprar Ahora</a></p>

        </div>
        <div class="col-md-4">
          <img src="img/rasp.jpg" style="max-width:100%"></img>
          <img src="img/ps3eyetoy.jpg" style="max-width:80%"></img>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Camberry Project 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<?php
}
?>
