<!DOCTYPE html>
<html>
<head>
	<title> Main Portal</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<div class="header">
	<img src="../img/logo.png">
	<div class="title"> Welcome to CamBerry Service Registration Form </div>
</div>
<div class="main_content">
	<div class="form_wrapper">
		<form method="post">
  			E-mail:<br>
  			<input type="email" name="email"> <br>
  			Password:<br>
  			<input type="password" name="psw"> <br>
  			<button>Submit</button>
		</form>
	</div>
</div>
<div class="footer"></div>
</body>
</html>