<!DOCTYPE html>
<html>
<head>
	<title> Main Portal</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script src="../js/angular.min.js"></script>
	<script src="../js/controllers.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl">
	<div class="header">
		<img class="logo"src="../img/logo.jpeg">
		<div class="title"> Camberry </div>
		<div class="user_menu">
			<div></div>
		</div>
	</div>
	<div class="main_content">
		<div class="video_wrapper" ng-show="showVideo === true" resizer my-draggable>
			<img class="close_icon"src="../icons/close.png" ng-click="closeVideo()">
			<video class="video" ng-src="{{urlVideo}}"></video>
		</div>
		<div class="personal_cameras">
			<h1 class="subtitle">My Cameras</h1>
			<div class="cameras_wrapper">
				<div class="camera_content" ng-click="onClickOwnCamera($index)" ng-repeat="camera in cameras">
					<img class="camera_image" ng-src={{camera.img}}>
					<h2 class="camera_site">{{camera.site}}</h2>
				</div>
			</div>

		</div>
		<div class="others_cameras">
			<h1 class="subtitle">Other's Cameras</h1>
			<div  ng-repeat="user in otherCameras"> 
				<div>{{user.user}}</div>
				<div class="camera_content" ng-click="onClickOtherCamera($index)" ng-repeat="camera in user.cameras">
					<img class="camera_image" ng-src={{camera.img}}>
					<h2 class="camera_site">{{camera.site}}</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="footer"></div>
</body>
</html>