<!DOCTYPE html>
<html>
<head>
	<title> Main Portal</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="header">
	<img class="logo" src="/img/logo.jpeg" style="fload:left">
	<div class="title"> Welcome to CamBerry Service Registration Form </div>
</div>
<div class="main_content">
	<div class="form_wrapper">
		<form method="post">
			  First name:<br>
  			<input class="form-text" type="text" name="firstname"> <br>
  			Last name:<br>
  			<input class="form-text" type="text" name="lastname"> <br>
  			E-mail:<br>
  			<input class="form-text" type="email" name="email"> <br>
  			Password:<br>
  			<input class="form-text" type="password" name="psw"> <br>
  			Repeat Password:<br>
  			<input class="form-text" type="password" name="psw"> <br>
  			<button>Submit</button>
		</form>
	</div>
</div>
<div class="footer"></div>
</body>
</html>